# Ignorar la carpeta de configuración de VS Code
.vscode/

# Ignorar el archivo de atributos de Git
.gitattributes

# Ignorar el entorno virtual del backend
backend/.venv/

# Ignorar la base de datos del proyecto
backend/db.sqlite3

# Ignorar todos los archivos __pycache__ en cualquier directorio
**/__pycache__/*

# Ignorar dependencias del frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# Ignorar archivos de cobertura de tests
frontend/coverage/

# Ignorar archivos generados por Next.js
frontend/.next/
frontend/out/

# Ignorar archivos de construcción
frontend/build/

# Ignorar archivos de registro de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignorar archivos de configuración de entorno
.env*
frontend/.env*

# Ignorar archivos de configuración de Vercel
.vercel

# Ignorar archivos de TypeScript
*.tsbuildinfo
frontend/next-env.d.ts

# Ignorar archivos de sistema
.DS_Store
*.pem

# Ignorar archivos de producción
build/