# Ignorar la carpeta de configuración de VS Code
.vscode/

# Ignorar el archivo de atributos de Git
.gitattributes

# Ignorar los archivos de entornos
backend/.venv/
.env*

# Ignorar la base de datos del proyecto
backend/db.sqlite3

# Ignorar archivos multimedia dek servidor
backend/media/

# Ignorar todos los archivos __pycache__ en cualquier directorio
**/__pycache__/*


# Ignorar dependencias del frontend
frontend/node_modules/
